<div class="container">
        <h2>Work Spaces</h2>
        <!-- {{userId}} -->
        <div class="row">
            <div class="col">
                <button mat-button mat-raised-button color="primary" (click)="openForm()">
                    <mat-icon>add</mat-icon>
                    Add work-space
                </button>
            </div>
            <div class="col">
                
            </div>
        </div>
        <hr/>
        <div class="row">
                <app-list-workspaces></app-list-workspaces>
        </div>
</div>