<div class="row">
  <div class="row">
    <div class="col">
      <h1>My Work Spaces</h1>
    </div>
    <div class="col">
      <h2>{{ workspaceData.length }} - WorkSpaces</h2>
    </div>
  </div>
  <div class="d-flex justify-content-around">
    <div class="message" *ngIf="workspaceData.length == 0">
      <h2>No hay espacios para mostrar</h2>
    </div>
  </div>
  <!-- <div class="col-12 col-lg-12" *ngIf="successMessage">
    <div class="alert alert-success alert-dismissible" role="alert">
      <div class="alert-message">
        {{ successMessage }}
      </div>

      <button
        type="button"
        class="close"
        (click)="closeX()"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">X</span>
      </button>
    </div>
  </div>
  <div class="col-12 col-lg-12" *ngIf="errorMessage">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div class="alert-message">
        {{ errorMessage }}
      </div>

      <button
        type="button"
        class="close"
        (click)="closeX()"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">X</span>
      </button>
    </div>
  </div> -->
</div>
<div class="wrap-cards">
  <mat-card *ngFor="let workspace of workspaceData; let wp = index">
    <div class="item-header">
      <div class="item-name">
        <h2>{{ workspace.name }}</h2>
      </div>
      <div class="item-options">
        <button
          mat-button
          mat-stroked-button
          color="primary"
          (click)="openBoard(workspace._id)"
        >
          <mat-icon>add</mat-icon><span>&nbsp;add Board</span>
        </button>
        <button
          mat-button
          mat-raised-button
          color="primary"
          (click)="openMembers()"
        >
          <mat-icon>people</mat-icon><span>&nbsp;members</span>
        </button>

        <button
          mat-button
          mat-raised-button
          color="warn"
          (click)="onDelete(workspace)"
        >
          <mat-icon>delete</mat-icon><span>&nbsp;delete</span>
        </button>
      </div>
    </div>
    <mat-card-content class="workspace-item">
      <div class="workspace-item-content">
        <ul class="d-flex justify-content-around flex-wrap">
          <li class="board text-center my-3" *ngFor="let board of wpBoards[wp]">
            <div class="closeBoard" (click)="deleteBoard( wpBoards[wp], workspace._id, board._id)"> <mat-icon>clear</mat-icon></div>
            <a [routerLink]="['/listTasks', board._id]" class="board-title">
              <div class="board-details">
                <p class="board-name text-uppercase">
                  {{ board.name }}
                </p>
                <p>
                  {{ board.description }}
                </p>
              </div>
            </a>
            <div class="editBoard"><mat-icon>edit</mat-icon></div>
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
