<h1 mat-dialog-title>Add board</h1>
<mat-dialog-content>
  <div class="col-12 col-lg-12" *ngIf="successMessage">
    <div class="alert alert-successalert-dismissible" role="alert">
      <div class="alert-message">
        {{ successMessage }}
      </div>
      <button type="button" class="close" (click)="closeX()" data-dismiss="alert" aria-label="Close">
        x
      </button>
    </div>
  </div>
  <div class="col-12 col-lg-12" *ngIf="errorMessage">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div class="alert-message">
        {{ errorMessage }}
      </div>
      <button type="button" class="close" (click)="closeX()" data-dismiss="alert" aria-label="Close">
        x
      </button>
    </div>
  </div>
  <div class="form-content-inputs">
    <!-- {{dataId}} -->
    <mat-form-field hidden>
      <input [(ngModel)]="dataId" matInput placeholder="WorkSpace" readonly />
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="boardData.name" matInput placeholder="Name" required />
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="boardData.description" matInput placeholder="Description" required />
    </mat-form-field>

    <mat-form-field >
      <mat-label>Teach Leader:</mat-label>
      <input [(ngModel)]="boardData.techleader" matInput placeholder="username" />
    </mat-form-field>

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn gray">Cancel</button>
  <button (click)="saveBoard()" class="btn colorButton" mat-button mat-raised-button> Save Board</button>
</mat-dialog-actions>