<mat-toolbar class="bgHeader">
    <div class="logo">
        <a routerLink="/work-spaces/:id">
            <img src="../../../assets/img/ACC-Logo.png" alt="ACC-Logo" />
        </a>
    </div>
    <span class="headerSpacer"></span>
    <div class="nav-items">
        <ul>
            <a  mat-button  routerLink="profile">
                <mat-icon>account_box</mat-icon>
                Profile
            </a>
            <a  mat-button  (click)="auth.logOut()">
                <mat-icon>logout</mat-icon>
                Logout
            </a>
            <!-- <a mat-button routerLink="/login">login</a> -->
        </ul>
    </div>

</mat-toolbar>