.container{
    padding: 50px 16px 0;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    overflow-y:scroll;
  }
  
  /* td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  } */
  
  tr:nth-child(even) {
    background-color: #bad7f3;
  } 