<mat-toolbar class="bgHeader">
  <div class="logo">
    <img src="../../../assets/img/ACC-Logo.png" alt="" />
  </div>

  <ul>
    <a *ngIf="auth.loggedIn()" routerLink="workSpaces">Work Spaces</a>
  </ul>
  <ul>
    <span class="spacer"></span>

    <mat-expansion-panel class="expansion-panel" hideToggle="true">
      <mat-expansion-panel-header class="expansion-panel-header">
        <mat-panel-title class="color-title">
          <span class="text-center">Roles</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list class="list-item">
        <mat-list-item>
          <a mat-button routerLink="registerRole">Create role</a></mat-list-item>
        <mat-list-item>
          <a mat-button routerLink="listRole">List roles</a></mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </ul>
  <ul>

    <mat-expansion-panel class="expansion-panel" hideToggle="true">
      <mat-expansion-panel-header class="expansion-panel-header">
        <mat-panel-title class="color-title">
          <span class="text-center">Users</span>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list class="list-item">
        <mat-list-item>
          <a mat-button routerLink="registerUser">Create user</a></mat-list-item>
        <mat-list-item>
          <a mat-button routerLink="listUser">List user</a></mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </ul>
  <span class="headerSpacer"></span>
  <ul>
    <a *ngIf="!auth.loggedIn()" mat-button routerLink="register">Sign up</a>
    <a *ngIf="!auth.loggedIn()" mat-button routerLink="login">Log in</a>
    <a *ngIf="auth.loggedIn()" mat-button (click)="auth.logOut()">Log out</a>
  </ul>
</mat-toolbar>
