<mat-toolbar class="bgHeader">
  <div class="logo">
    <img src="../../../assets/img/ACC-Logo.png" alt="" />
  </div>
  <ul>
    <a *ngIf="auth.loggedIn()"  [routerLink]="[ '/workSpaces', userId ]">WorkSpaces</a>
  </ul>

  <ul *ngIf="auth.forAdmin()">
   <a *ngIf="auth.loggedIn()" routerLink="listRole">Roles</a> 

  </ul>
  <ul *ngIf="auth.forAdmin()">
    <a *ngIf="auth.loggedIn()" routerLink="listUser">Users</a> 
   </ul>
  
  <span class="headerSpacer"></span>
  <mat-card-actions>
    <div class="nav-items">
      <a
        *ngIf="!auth.loggedIn()"
        mat-button
        mat-stroked-button
        routerLink="register"
        ><mat-icon>perm_identity</mat-icon>Sign up</a
      >
      <a
        *ngIf="!auth.loggedIn()"
        mat-button
        mat-stroked-button
        routerLink="login"
        ><mat-icon>login</mat-icon>Log in</a
      >
      <a
        *ngIf="auth.loggedIn()"
        mat-button
        mat-stroked-button
        routerLink="profile"
      >
        <mat-icon>account_box</mat-icon>
        Profile
      </a>
      <a
        *ngIf="auth.loggedIn()"
        mat-button
        mat-stroked-button
        (click)="auth.logOut()"
      >
        <mat-icon>logout</mat-icon>
        Logout
      </a>
    </div>
  </mat-card-actions>
</mat-toolbar>
