.headerSpacer{
    flex: 1 1 auto
}

a{
    text-decoration: none;
    color: #ffffff;
}

.bgHeader{
    background-color:#1138c7;
    position: sticky;
    z-index: 10;
}

.logo{
    float: left;
    padding: 10px;
}

.logo img{
    width: 100px;
    height: 90px;
}

.spacer{
    flex: 1 0 auto;
}

.expansion-panel{
    display: column;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    background-color: #1138c7;
    width: 100%;
}

.expansion-panel-header{
    width: 100%;
}
.color-title{
    color: #ffffff;
}

.text_center{
    margin-top: auto;
    margin-bottom: auto;
}

