li {
    list-style: none;
    margin: 1rem 0;
}
.space_container {
    display: flex;
}

.space_container_workspaces {
    padding: 10px;
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 220px;
}

.card-container{
    display: flex;
    flex-direction:column;
    height: 100%;
    max-width: 220px;
    min-height: 92.7vh;
    background-color: #d9a404ef;
    border-right: 1px solid #696868;
    border-radius: 0px;
    overflow: auto;
    padding-top: 70px;
}
.card-container--workspaces{
    width: 220px;
    margin: 10px;
    background-color: #ffffff;
    border-right: 1px solid #696868;
    border-radius: 5px;
    
}

.card-container--tasks {
    display: flex;
    flex-direction: column;
}

.card-container--tasks > mat-card{
    margin-bottom: 10px;
}

mat-card-title{
    text-align: center;
}

.mat-card-title--slidebar{
    padding-top: 20px;
    color: #ffffff;
}

.mat-card-content{
    min-height: 350px;
}

.mat-panel{
    background-color: #a66d0383;
}

.mat-title{
    color: #ffffff;
    font-size: 84%;
}

.mat-description{
    color: #ffffff;
}

.nav-items{
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.nav-items a{
    width: 90%;
    padding: 5px;
    margin-top: 5px;
    text-align: initial;
}