.space_container {
    display: flex;
}
.space_container_workspaces {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 220px;
}
/* .space_container_lateralbar {
    position:fixed;
    z-index: 10;
} */
.card-container{
    display: flex;
    flex-direction:column;
    height: 100%;
    max-width: 220px;
    min-height: 92.7vh;
    background-color: #ffffff;
    border-right: 1px solid #696868;
    border-radius: 0px;
    overflow: auto;
}
.card-container--workspaces{
    width: 220px;
    margin: 10px;
    background-color: #ffffff;
    border-right: 1px solid #696868;
    border-radius: 5px;
    
}

.card-container--tasks {
    display: flex;
    flex-direction: column;
}

.card-container--tasks > mat-card{
    margin-bottom: 10px;
}

mat-card-title{
    text-align: center;
}

.mat-card-title--slidebar{
    padding-top: 20px;
}

.mat-card-content{
    min-height: 350px;
}
.nav-items{
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.nav-items a{
    width: 90%;
    padding: 5px;
    margin-top: 5px;
    text-align: initial;
}