<mat-card class="card-container">
  <mat-card-title>DASHBOARD</mat-card-title>
  <hr />
  <mat-card-content>
    <div class="">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> My Work Spaces </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <ul>
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            <a href="">item</a>
            <a href="">item</a>
            <a href="">item</a>
          </ul>
        </mat-panel-description>
      </mat-expansion-panel>
    </div>
    <div class="">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> My Boards </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description> item </mat-panel-description>
        <mat-panel-description>
          <a mat-button (click) = "createBoard()">New Board</a>
      </mat-panel-description>
      </mat-expansion-panel>
    </div>
    <div class="">
      <br />

      <div class="">
        <span>Add members</span>
        <mat-form-field appearance="fill">
          <mat-label>username</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-icon mat-button mat-raised-button mat-fab>add</mat-icon>
          <mat-panel-title> Add Members </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
          <mat-label>username</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-action-row>
          <button mat-button>Add</button>
        </mat-action-row>
      </mat-expansion-panel>
    </div>
  </mat-card-content>
  <hr />
  <mat-card-actions>
      <div class="nav-items">
          <a *ngIf="auth.loggedIn()"
            mat-button
            mat-stroked-button
            (click)="auth.logOut()">
            <mat-icon>account_box</mat-icon>
            item
          </a>
          <a *ngIf="auth.loggedIn()"
             mat-button
             mat-stroked-button
             (click)="auth.logOut()">
              <mat-icon>settings</mat-icon>
              settings
          </a>

      </div>
  
  </mat-card-actions>
  <div class=""></div>
</mat-card>
