<div class="space_container">
  <div class="space_container_lateralbar">
    <mat-card class="card-container"> 
      <mat-card-title class="mat-card-title--slidebar"
        >DASHBOARD</mat-card-title
      >
      <hr />
      <mat-card-content class="mat-card-content">
        <div class="">
          <mat-expansion-panel class="mat-panel">
            <mat-expansion-panel-header>
              <mat-panel-title class="mat-title"> My Work Spaces </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description class="mat-description">
              <ul>
                <li>item</li>
                <li>item</li>
                <li>item</li>
              </ul>
            </mat-panel-description>
          </mat-expansion-panel>
        </div>
        <div class="">
          <mat-expansion-panel class="mat-panel">
            <mat-expansion-panel-header>
              <mat-panel-title class="mat-title"> My Boards </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description class="mat-description"> 
              <a mat-button (click) = "listBoard()">List Boards</a></mat-panel-description>
            <mat-panel-description class="mat-description">
              <a mat-button (click) = "createBoard()">New Board</a>
          </mat-panel-description>
          </mat-expansion-panel>
        </div>
      </mat-card-content>
      <hr />
      <mat-card-actions>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </mat-card-actions>
    </mat-card>
  </div>
  
</div>
