.container-tasks {
  max-width: 500px;
  max-height: 100vh;
  /* overflow: scroll; */
}

.header-task {
  padding: 10px;
}
.container-tasks ul li {
  list-style: none;
  margin: 20px 0;
}
.task-card {
  width: 100%;
  /* max-width: 400px; */
}


