.main-tasks {
  max-width: 90%;
}
.container-tasks {
  text-align: center;
  max-height: 100vh;
  overflow: auto;
}


.header-task {
  padding: 10px;
}
.container-tasks ul li {
  list-style: none;
  margin: 20px 0;
}

.img-container {
  margin: 0 auto;
  max-width: 70%;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}

.task-card {
  width: 100%;
}
