<div class="main-wrap">
  <div class="sidebar">
    <app-list-workspace
      [boards]="wpBoards"
      [wpData]="workspaceData"
      *ngIf="workspaceData.length>0"
    ></app-list-workspace>
  </div>
  <div class="content-page">
    <div class="page-header">
      <h1>WorkSpaces</h1>
      <div class="d-flex justify-content-center pb-5">
        <h2 class="pt-3 px-5">{{ workspaceData.length }}</h2>
        <div class="message" *ngIf="workspaceData.length == 0">
          <h2>No hay espacios para mostrar</h2>
        </div>

        <div class="page-column">
          <button class="btn-add" (click)="createWorkspace()">
            <mat-icon>add</mat-icon> &nbsp; Add Workspace
          </button>
        </div>
      </div>
    </div>

    <span>{{ errorMessage }}</span>
    <div class="workspace-section mx-auto">
      <div
        class="workspace-item"
        *ngFor="let workspace of workspaceData; let wp = index"
      >
        <div class="workspace-item-header">
          <div class="item-name">
            <h2>{{ workspace.name }}</h2>
          </div>
          <div class="item-options">
            <a href=""><mat-icon>people</mat-icon><span>&nbsp;members</span></a>
            <a href=""
              ><mat-icon>settings</mat-icon><span>&nbsp;settings</span></a
            >
            <a href=""><mat-icon>delete</mat-icon> <span>&nbsp;delete</span></a>
          </div>
        </div>
        <div class="workspace-item-content">
          <ul class="d-flex justify-content-center">
            <li class="text-center" *ngFor="let board of wpBoards[wp]">
              <a routerLink="/listTask/{{ board._id }}" class="board-title">
                <div class="board-details">
                  <div class="board-name">
                    {{ board.name }}
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
