<div class="main-wrap">
    <div class="sidebar">
        <app-list-workspace></app-list-workspace>
    </div>
    <div class="content-page">
        <div class="page-header">
            <h1>Work Spaces</h1>
            <h2>{{workspaceData.length}}</h2>
    </div>
        <!-- <div class="page-column">
            <a routerLink="ad"></a><button class="btn-add"><mat-icon>add</mat-icon> &nbsp;   Add Workspace</button>
        </div> -->
        <div class="row">
            <!-- <mat-card>
                <mat-card-title>item</mat-card-title>
            </mat-card> -->
        </div>
        <span>{{errorMessage}}</span>
        <div class="workspace-section">
            <div class="workspace-item" *ngFor="let workspace of workspaceData">
                <div class="workspace-item-header">
                    <div class="item-name">
                        <h2>{{workspace.name}}</h2>
                        <p>{{workspace._id}}</p>
                    </div>
                    <div class="item-options">
                        <a href=""><mat-icon>people</mat-icon><span>&nbsp;members</span></a>
                        <a href=""><mat-icon>settings</mat-icon><span>&nbsp;settings</span></a>
                        <a href=""><mat-icon>delete</mat-icon> <span>&nbsp;delete</span></a>
                    </div>
                </div>
                <div class="workspace-item-content">
                    <ul>
                        <li class="">
                            <a routerLink="#" class="board-title">
                                <div class="board-details">
                                    <div class="board-name">
                                        board name
                                        <!-- {workspace.boards.}} -->
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <div class="add-board">
                            <p><span>Add Board</span></p>
                            </div>
                        </li>
                    </ul>
                </div>  
            </div>
        </div>

        <!-- <div class="space_container_workspaces">
            <mat-card class="card-container--workspaces">
                <mat-card-subtitle>Tablero #1</mat-card-subtitle>
                <div class="card-container--tasks">
                    <mat-card>
                        <p>tarea #1</p>
                    </mat-card>
                    <mat-card>
                        <p>tarea #2</p>
                    </mat-card>
                    <mat-card>
                        <p>tarea #3</p>
                    </mat-card>
                    <mat-card>
                        <p>tarea #4</p>
                    </mat-card>
                    <mat-card>
                        <p>tarea #5</p>
                    </mat-card>
                </div>
            </mat-card>
            <mat-card class="card-container--workspaces">
                <mat-card-subtitle>Tablero #2</mat-card-subtitle>
                <div class="card-container--tasks">
                    <mat-card>
                        <p>tarea #1</p>
                    </mat-card>
                    <mat-card>
                        <p>tarea #2</p>
                    </mat-card>
                </div>
            </mat-card>
        </div> -->

    </div>

</div>
