<div class="main-wrap">
    <div class="sidebar">
        <app-list-workspace></app-list-workspace>
    </div>
    <div class="content-page">
        <div class="page-header">
            <h1>Work Spaces</h1>

        </div>
        <div class="page-column">
            <a routerLink="ad"></a><button class="btn-add"><mat-icon>add</mat-icon> &nbsp;   Add Workspace</button>
        </div>
        <div class="row">
            <!-- <mat-card>
                <mat-card-title>item</mat-card-title>
            </mat-card> -->
        </div>
        <span>{{errorMessage}}</span>
        <!-- <div class="space_container_workspaces">
            <mat-card class="card-container--workspaces">
                <mat-card-subtitle>Tablero #1</mat-card-subtitle>
                <div class="card-container--tasks">
                    <mat-card>
                        <p>tarea #1</p>
                    </mat-card>
                    <mat-card>
                        <p>tarea #2</p>
                    </mat-card>
                    <mat-card>
                        <p>tarea #3</p>
                    </mat-card>
                    <mat-card>
                        <p>tarea #4</p>
                    </mat-card>
                    <mat-card>
                        <p>tarea #5</p>
                    </mat-card>
                </div>
            </mat-card>
            <mat-card class="card-container--workspaces">
                <mat-card-subtitle>Tablero #2</mat-card-subtitle>
                <div class="card-container--tasks">
                    <mat-card>
                        <p>tarea #1</p>
                    </mat-card>
                    <mat-card>
                        <p>tarea #2</p>
                    </mat-card>
                </div>
            </mat-card>
        </div> -->

    </div>

</div>
