<div class="form">
    <mat-card class="form_content">
      <mat-card-title>Update user</mat-card-title>
      <div class="form_content_inputs">
        <mat-form-field appearance="fill">
          <input
            matInput
            [(ngModel)]="updateData.name"
            matInput
            placeholder="Name"
            required
          /><mat-label>Name</mat-label>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input
            matInput
            [(ngModel)]="updateData.email"
            matInput
            placeholder="Email"
            required
          /><mat-label>Email</mat-label>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input
            matInput
            [(ngModel)]="updateData.userName"
            matInput
            placeholder="User Name"
            required
          /><mat-label>User Name</mat-label>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input
            matInput
            [(ngModel)]="updateData.password"
            matInput
            type="password"
            placeholder="Password"
            required
          /><mat-label>Password</mat-label>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input
            matInput
            [(ngModel)]="updateData.status"
            matInput
            placeholder="Status"
            required
          /><mat-label>Status</mat-label>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Role:</mat-label>
          <mat-select [(ngModel)]="updateData.roleId" *ngIf="roleData.length">
            <mat-option *ngFor="let role of roleData" [value]="role._id">{{
              role.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card-actions>
        <button (click)="updateUser()" mat-raised-button>Update</button>
      </mat-card-actions>
    </mat-card>
  </div>
  