.form {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px 16px 0px 0px;
}

.form_content {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color:lavender;
}

.form_content_inputs {
    display:flex;
    flex-direction: column;
}

mat-card-actions {
    display:flex;
    flex-direction: column;
}

mat-form-field {
    background-color: local;
}

mat-card-title {
    margin:20px;
    text-align:center;
}

button { margin: 10px;}