<section class="section-1">
    <div class="container">
        <div class="row">
            <div class="text-home col col-sm-7">
                <h1 class="title">Take control of your tasks and workspaces</h1>
                <p>Manage your <span>tasks</span> in an organized way, control your <span>work team</span> and improve your productive times</p>
            </div>
            <div class="col col-sm-5">
                <div class="content-img">
                    <img src="../../../assets/img/Acc-logo_Purple.png" class="Img" alt="ACC-Logo">
                </div>
            </div>
        </div>
        <div class="content-btn">
            <a href="#register"mat-button mat-raised-button class="btn  btn-start">Get enrolled!</a>
        </div>
    </div>
</section>
<section class="section-2" id="register">
    <div class="container">
        <div class="content-title">
            <h1></h1>
        </div>
        <div class="row">
            <div class="text-home col col-sm-6">
                <h1 class="title">Create an account!</h1>
                <p>Create an account and start working on your boards and groups you are part of</p>
            </div>
            <div class="col col-sm-6">
                <app-register></app-register>
            </div>
        </div>

    </div>
   

</section>
