<div class="section">
    <div class="container">
        <div class="form">
            <mat-card class="form_content">
                <mat-card-title>Sign Up</mat-card-title>
                <hr>
                <div class="col-12 col-lg-12" *ngIf="errorMessage">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div class="alert-message">
                            {{errorMessage}}
                        </div>
                        <div class="spacer"></div>
                        <span (click)="close()" class="close" data-dismiss="alert">
                            <mat-icon>close</mat-icon>
                        </span>
                    </div>
                </div>
                <div class="form_content_inputs">
                    <mat-form-field>
                        <input matInput [(ngModel)]="registerData.name" matInput placeholder="Name" required />
                    </mat-form-field><br>
                    <mat-form-field>
                        <input matInput [(ngModel)]="registerData.userName" matInput placeholder="Username" required />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="registerData.email" matInput type="email" placeholder="Email" required />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="registerData.password" matInput type="password" placeholder="Password"
                            required />
                    </mat-form-field>
                </div>
                <div class="">
                    <span>I already have an account. <a routerLink="/login">Login</a></span>
                </div>
                <mat-card-actions>
                    <button (click)="registerUser()" class="btn" mat-button mat-raised-button>
                        Register
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>