/* You can add global styles to this file, and also import other style files */
@import url('colors.css');

html{
    scroll-behavior: smooth;
}
html, body { height: 100%; }
body { 
    box-sizing: border-box;
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--gray);
    top:0px;
}
