<h1 mat-dialog-title>Login</h1>  
<hr>
<br>
<div class="content-img">
    <img mat-card-image class="Img" src="../../../assets/img/Acc-logo_Purple.png" alt="Acc-logo_Purple"/>
</div>
<mat-dialog-content>
  <div class="col-12 col-lg-12" *ngIf="errorMessage">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div class="alert-message">
        {{ errorMessage }}
      </div>
      <div class="spacer"></div>
      <span (click)="close()" class="close" data-dismiss="alert">
        <mat-icon>close</mat-icon>
      </span>
    </div>
  </div>
  <div class="form-content-inputs">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="loginData.email"
        matInput
        placeholder="Email"
        required
      /> 
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="loginData.password"
        matInput
        placeholder="Password"
        required
      />
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="">
    <span>Create an account. <a (click)="closeForm()" href="#">Sign Up</a></span>
  </div>
  <button (click)="login()" class="btn" mat-raised-button>Login</button>
</mat-dialog-actions>