<div class="form">
    <mat-card class="form_content">
        <mat-card-title>{{userData.userName}}</mat-card-title>
        <hr>
        <div class="form_content--picture">
            <img mat-card-image src="{{userData.img}}" alt="Profile Picture">
        </div>
        <hr>
        <mat-card-content >
            <mat-list role="list">
                <mat-list-item class="tags" role="listitem">Name   :</mat-list-item>
                <mat-list-item role="listitem" class="tags" >Email    :</mat-list-item>
                <mat-list-item role="listitem" class="tags" >User name :</mat-list-item>
                <mat-list-item role="listitem" class="tags" >Status   :</mat-list-item>
            </mat-list>
            <mat-list role="list">
                <mat-list-item role="listitem">{{userData.name}}</mat-list-item>
                <mat-list-item role="listitem">{{userData.email}}</mat-list-item>
                <mat-list-item role="listitem">{{userData.userName}}</mat-list-item>
                <mat-list-item role="listitem">{{userData.status}}</mat-list-item>
              </mat-list>
              
        </mat-card-content>
        <!-- <button mat-button mat-raised-button color="primary" routerLink="/updateUser">Update</button> -->
    </mat-card>
</div>
